# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/
*.ipynb~

# ===============================
# Data files
# ===============================
data/output/
data/raw/
data/cleaned/
*.csv


# ===============================
# Spark
# ===============================
spark-warehouse/
metastore_db/
*.log

# ===============================
# Docker
# ===============================
.env
docker-compose.override.yml

# ===============================
# PostgreSQL
# ===============================
pgdata/
*.sql

# ===============================
# OS / Editors
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Downloads / Temp
# ===============================
downloads/
tmp/
