services: 
  jupyter-spark: 
    image: jupyter/pyspark-notebook:latest 
    container_name: jupyter_spark 
    ports: 
      - "8888:8888" 
    volumes: 
      - ./notebooks:/home/jovyan/work/notebooks 
      - ./data:/home/jovyan/work/data 
    environment: 
      - JUPYTER_ENABLE_LAB=yes 
  postgres: 
    image: postgres:16 
    container_name: universities_pg 
    environment: 
      POSTGRES_USER: ${POSTGRES_USER} 
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD} 
      POSTGRES_DB: ${POSTGRES_DB}
    ports: 
      - "${POSTGRES_PORT}:5432"
    volumes: 
      - pgdata:/var/lib/postgresql/data 
volumes: 
  pgdata: